
<!-- REGISTER IN SECTION START -->
		<div class="register-area">
			<div class="register container">
				<div class="row">
					<div class="col-md-1 col-lg-2 float-left"></div>
					<div class="col-md-10 col-lg-8 float-left">
						<div class="login-form register-form">
							<div class="text-center">
								<img src="/img/logo_mini.svg" alt="" />
								<h4>Create an Account</h4>
							</div>
							{{#if data.valid }}
                                <div class="alert alert-success" role="alert">
                                    Form data is valid for sign up
                                </div>
                            {{/if}}
							<form action="/register" method="POST" {{#if data.hasError }}class="was-validated"{{/if}}>
								<div class="row">
									<div class="col-md-12 form-header">
										<h6>Personal Information</h6>
									</div>
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" id="first_name" value="{{data.first_name.value}}" name="first_name" placeholder="First Name" required>
										{{#if data.first_name.has_error }}
                                        <div class="invalid-feedback">{{data.first_name.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" id="last_name" value="{{data.last_name.value}}" name="last_name" placeholder="Last Name" required>
										{{#if data.last_name.has_error }}
                                        <div class="invalid-feedback">{{data.last_name.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-6 form-group">
										<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
										{{#if data.email.has_error }}
                                        <div class="invalid-feedback">{{data.email.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
										{{#if data.phone.has_error }}
                                        <div class="invalid-feedback">{{data.phone.message}}</div>
                                        {{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 form-header">
										<h6>Billing Address</h6>
									</div>
									<div class="col-md-12 form-group">
										<input type="text" class="form-control" id="company" name="company" placeholder="Company Name (Optional)">
									</div>
									<div class="col-md-12 form-group">
										<input type="text" class="form-control" id="street" name="street" placeholder="Street Address" required>
										{{#if data.street.has_error }}
                                        <div class="invalid-feedback">{{data.street.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-12 form-group">
										<input type="text" class="form-control" id="street2" name="street2" placeholder="Street Address 2">
									</div>
									<div class="col-md-4 form-group">
										<input type="text" class="form-control" id="city" name="city" placeholder="City" required>
										{{#if data.city.has_error }}
                                        <div class="invalid-feedback">{{data.city.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-4 form-group">
										<input type="text" class="form-control" id="state" name="state" placeholder="State" required>
										{{#if data.state.has_error }}
                                        <div class="invalid-feedback">{{data.state.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-4 form-group">
										<input type="text" class="form-control" id="post_code" name="post_code" placeholder="Post Code" required>
										{{#if data.post_code.has_error }}
                                        <div class="invalid-feedback">{{data.post_code.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-12 form-group">
										<input type="text" class="form-control" id="country" name="country" placeholder="Country" required>
										{{#if data.country.has_error }}
                                        <div class="invalid-feedback">{{data.country.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-12 form-group">
										<input type="text" class="form-control" id="tax_id" name="tax_id" placeholder="Tax Id (Optional)">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 form-header">
										<h6>Account Security</h6>
									</div>
									<div class="col-md-6 form-group">
										<input type="password" class="form-control" id="password" name="password" placeholder="Password"  required>
										{{#if data.password.has_error }}
                                        <div class="invalid-feedback">{{data.password.message}}</div>
                                        {{/if}}
									</div>
									<div class="col-md-6 form-group">
										<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password"  required>
										{{#if data.confirm_password.has_error }}
                                        <div class="invalid-feedback">{{data.confirm_password.message}}</div>
                                        {{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="card border-danger">
											<div class="card-header text-center text-danger border-danger" style="background-color: #dc354536!important;">
												<b><i class="fas fa-exclamation-triangle"></i> Terms of Service</b>
											</div>
											<div class="card-body">
												<div class="form-check">
													<label class="form-check-label" for="terms" style="font-size: 13px;text-align: center;">
														<input type="checkbox" class="form-check-input mr-3" id="terms">
														By submitting this order, you agree to the Terms of Service and Privacy Policy. You agree that WHC will automatically attempt to renew your services prior to their next due date unless you request otherwise from your Client Area.
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-block btn-lg btn-primary">Register</button>
							</form>

							<div class="bottom-link">
								<p>Already a client? <a href="/login">Log In</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-1 col-lg-2 float-left"></div>
				</div>
			</div>
		</section>
